.post-container {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}


/*MOBILE*/
@media (max-width: 700px) {
    .post-container {
        padding: 5px;
    }
    .post-slider {
        width: 85%;
    }
    .masonry-grid{
        column-count: 2;
    }
}


/*DESC*/
@media (min-width: 700px) {
    .post-container {
        padding: 20px;
    }
    .post-slider {
        width: 60%;
    }
    .masonry-grid{
        column-count: 4;
    }
}

.post-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.post-author {
    font-size: 18px;
    color: #555;
    margin-bottom: 15px;
}

.post-slider {
    max-width: 600px;
    margin: 0 auto;
}

.post-slide {
    display: flex;
    justify-content: center;
}

.post-image {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
}

.post-time {
    margin-top: 15px;
    font-size: 16px;
    color: #777;
}

.back-link{
    position: absolute;
    left: 3vw;
    top: 3vh;
}