.post-container {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    position: relative;
}

.top-bar {
    position: absolute;
    top: 3vh;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-link a {
    text-decoration: none;
    font-size: 1rem;
}

.helpful-links-btn {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: black;
    transition: color 0.3s;
}

.helpful-links-btn:hover {
    color: #f0f0f0;
}

.helpful-links-container {
    text-align: left;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    min-height: 60%;
    min-width: 70%;
    transition: opacity 0.3s ease-in-out;
}

/* Responsive Design */
@media (max-width: 700px) {
    .post-container {
        padding: 5px;
    }
    .post-slider {
        width: 100%;
    }
    .masonry-grid {
        column-count: 2;
    }
}

@media (min-width: 700px) {
    .post-container {
        padding: 20px;
    }
    .post-slider {
        width: 80%;
    }
    .masonry-grid {
        column-count: 4;
    }
}

/* Post Content */
.post-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0;
}

.post-author {
    color: #555;
}

.post-slider {
    max-width: 600px;
    margin: 0 auto;
}

.post-image {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
}

.post-time {
    color: #777;
}
