body {
  margin: 0;
  font-family: "RG-StandardMedium", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@font-face {
  font-family: 'RG-StandardMedium';
  src: url('static/RG-StandardMedium.ttf') format('truetype');
}

iframe {
  display: none;
}
